{% extends 'app/base.html' %}
{% load static %}
{% block title %}About{% endblock title %}

{% block main-content %}

<div class="container mt-3">
    <br>
    <h2 class="text-center">Contact Us</h2>
    <br>
    <p class="fs-4 text-center"><b>Client Name : Intellore Systems Private Limited</b></p>
    <p class="fs-4 text-center"><b>Website : </b>www.intellore.com</p>
    <p class="fs-4 text-center"><b>Address : </b> Krishna Shanti Residency, B/105, Bavdhan Road, near Shivasena Party Office, Patil Nagar, Bavdhan, Pune, Maharashtra 411021 </p>
    <p class="fs-4 text-center"><b>Contact : </b>7773963375 </p>
    <p class="fs-4 text-center"><b>Email : </b>hello@intellore.com</p>

<div class="row container">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3783.2577789031543!2d73.77157891090391!3d18.51724966920268!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bc2bf2b0b01a253%3A0x8c32f93de4370fbf!2sIntellore%20Systems%20Private%20Limited!5e0!3m2!1sen!2sin!4v1712308245472!5m2!1sen!2sin" width="500" height="400" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    </div>

{% endblock main-content %}